 body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
 }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap:16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}


.hero-main {
    font-size: 48px;    
    color: #f9faf8;
    font-weight: 900;
    margin: 0px;
}

.hero-sec {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-button {
    background-color: #3882f6;
    color: white;
    padding: 5px 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
}

.hero-img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: white;
    width: 520px;
    height: 240px;
    flex-shrink: 0;
}

.hero-left {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-session {
    display: flex;
    flex-direction: column;
    padding: 20px 200px;
    gap: 100px;
    background-color: #1f2937;
}